.layout
  width: 100%
  display: flex
  flex-direction: column
  min-height: 100%
  padding: 0 !important

  .header
    width: 100%
    padding: 10px 0px 10px 0px
    box-shadow: 0 1px 7px 1px #89fecda8

    .linkLogo
      display: block

      .logo
        width: 100%
        height: 100%
        max-width: 130px
        max-height: 130px
        outline: none

  .main
    flex: 1 auto
    

  .footer
    flex: 0 0
    margin-top: 5px
    padding: 15px
    box-sizing: border-box
    box-shadow: 0 -1px 7px -1px #89fecda8