.card 
  margin: 30px auto
  background-color:#E0FFFF !important
  padding: 0 10px 0 10px
  max-width: 600px
  width: 100%

  .cardFiles
    display: flex
    align-items: center

  .cardFooter
    display: flex
    justify-content: space-between
    align-items: center
    padding-bottom: 16px !important

    .cardDat
      margin-left: 10px