.container
  max-width: 600px
  width: 100%
  margin: 0 auto

  .addBtnBox
    display: flex
    justify-content: flex-end

  .formAdd
    margin-top: 15px
    width: 100%
    max-width: 600px

    .textContent
      display: block
      width: 100%
      border-radius: 4px
      box-sizing: border-box
      margin-top: 8px
    
    .inputFile
      margin: 10px 0

    .btnAdd
      display: block
      margin-top: 5px