form
  width: 100%
  max-width: 350px

  .boxBtn
    display: flex
    justify-content: space-between
    margin-top: 10px
    align-items: center

    .button
      width: 100%
      max-width: 130px
      height: 40px