@import '../../../../Sass/variables'

.container
  padding: 0 15px 0 15px

  .title
    text-align: center
    color: $colorTitle
    font-size: 2rem

  .description
    text-align: center
    margin-bottom: 15px

  .switch
    width: 100%
    max-width: 350px
    display: flex
    justify-content: flex-end
    margin: 15px 0 0 0